

    <div id = "to_do_list">
      <div id = "list_title">YOUR CHECKLIST FOR TODAY</div>


      <ol>
        <li><%= check_box_tag "Complete" %>Attend Chicago Marketing Meetup tonight at 8pm! - <em>600 W Chicago Suite 700</em></li>
        <li><%= check_box_tag "Complete" %>Spend 15 minutes searching the American Marketing Assn site for leads. - <em><%= link_to 'www.marketingpower.com/'%></em></li>
        <li><%= check_box_tag "Complete" %>Add 2 companies to your list of Companies you want to work for. - <em><%= link_to "Companies" %></em></li>
        <li><%= check_box_tag "Complete" %>Call Neal Sales-Griffin to set up a coffee meeting. - <em>312-CODE-NOW - neal@codeacademy.org</em></li>
        <li><%= check_box_tag "Complete" %>Complete application to JP Morgan Chase - <em><%= link_to 'www.chase.com/jobs/48901'%></em></li>
        <li><%= link_to "MORE..." %></li>
      </ol>

    </div>
    

    <!-- <div id = "social_networks">
      Import Contacts from:
      
      <p><%= image_tag "facebook-logo.png" %> </p>
      <p><%= image_tag "linkedin-full-logo.png" %></p>
      <p><%= image_tag "Twitter-Logo-Pro.png" %></p>
    </div> -->

    <!-- <div id = "newcontact"> 
      <div id = "contact_button"><%= button_to 'ADD A NEW CONTACT' %> </div>
      <table>
        <tr>
          <th>Name</th>
          <th>Phone #</th>
          <th>Email</th>
          <th>Company</th>
        </tr>

        <tr>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td><%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
        </tr>
      </table>
    </div>
    
    <div id = "addnewjob">
      <div id="job_button"><%= button_to 'ADD A NEW JOB' %></div>
      <table>
        <tr>
          <th>Company</th>
          <th>Position Title</th>
          <th>Job Description</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td><%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
          <td> <%= text_field :email, placeholder: "tom@highfivejobs.com" %></td>
        </tr>
      </table>
      
    </div> -->