<div id="logo">
<%= image_tag "HighFiveLogo.png" %>
</div>

<%= stylesheet_link_tag    "blog" %>


<h1>Find your State to go to their Unemployment Insurance website.</h1>
<div id="column1">
  <ul><%= link_to "Alabama", 'http://dir.alabama.gov/citizen/' %> </ul>
  <ul><%= link_to "Alaska", 'http://www.labor.state.ak.us/esd_unemployment_insurance/home.htm' %></ul>
  <ul><%= link_to "Arizona", 'https://www.azdes.gov/landing.aspx?id=4211' %></ul>
  <ul><%= link_to "Arkansas", 'http://www.state.ar.us/esd/UI/index.htm' %></ul>
  <ul><%= link_to "California", 'http://www.edd.ca.gov/Unemployment/' %></ul>
  <ul><%= link_to "Colorado", 'http://www.colorado.gov/cs/Satellite/CDLE-UnempBenefits/CDLE/1240336898069' %></ul>
  <ul><%= link_to "Connecticut", 'http://www.ctdol.state.ct.us/progsupt/unemplt/unemployment.htm' %></ul>
  <ul><%= link_to "Delaware", 'http://ui.delawareworks.com/' %></ul>
  <ul><%= link_to "D.C.", 'https://does.dcnetworks.org/' %></ul>
  <ul><%= link_to "Florida", 'http://www.floridajobs.org/unemployment' %></ul>
  <ul><%= link_to "Georgia", 'http://www.dol.state.ga.us/js/unemployment_benefits_individuals.htm' %></ul>
  <ul><%= link_to "Hawaii", 'http://hawaii.gov/labor/ui' %></ul>
  <ul><%= link_to "Idaho", 'http://labor.idaho.gov/dnn/Default.aspx?tabid=681' %></ul>
  <ul><%= link_to "Illinois", 'http://www.ides.illinois.gov/' %></ul>
  <ul><%= link_to "Indiana", 'http://www.in.gov/dwd/2362.htm' %></ul>
  <ul><%= link_to "Iowa", 'http://www.iowaworkforce.org/ui/file1.htm' %></ul>
  <ul><%= link_to "Kansas", 'http://www.getkansasbenefits.gov/' %></ul>
  <ul><%= link_to "Kentucky", 'https://uiclaims.des.ky.gov/ebenefit/' %></ul>
  <ul><%= link_to "Louisiana", 'https://laors.laworks.net/laclaims/website/' %></ul>
  <ul><%= link_to "Maine", 'https://gateway.maine.gov/dol/mics/' %></ul>
  <ul><%= link_to "Maryland", 'https://secure-2.dllr.state.md.us/NetClaims/Welcome.aspx' %></ul>
  <ul><%= link_to "Massachusetts", 'http://www.mass.gov/lwd/unemployment-insur/filing-a-claim/initial-claim/' %></ul>
  <ul><%= link_to "Michigan", 'http://www.michigan.gov/uia/0,4680,7-118-52610---,00.html' %></ul>
  <ul><%= link_to "Minnesota", 'https://www1.uimn.org/ui_applicant/applicant/login.do' %></ul>
  <ul><%= link_to "Mississippi", 'http://www.mdes.ms.gov/Home/UnemploymentServices/RegularUIClaims.html' %></ul>
  <ul><%= link_to "Missouri", 'https://www.ui.labor.mo.gov/som/' %></ul>                                              
 </div>

<ul><%= link_to "Montana", 'https://app.mt.gov/ui4u/index' %></ul>
<ul><%= link_to "Nebraska", 'https://uibenefits.nwd.ne.gov/BPSWeb/jsp/BPSClaimantWelcome.jsp' %></ul>
<ul><%= link_to "Nevada", 'http://www.ui.nvdetr.org/UI_Agreement.html' %></ul>
<ul><%= link_to "New Hampshire", 'https://nhuis.nh.gov/claimant/' %></ul>
<ul><%= link_to "New Jersey", 'http://lwd.dol.state.nj.us/labor/ui/fileui/file_index.html' %></ul>
<ul><%= link_to "New Mexico", 'http://www.unemploymentoffice.net/State_resources/New%20Mexico.htm' %></ul>
<ul><%= link_to "New York", 'https://ui.labor.state.ny.us/UBC/home.do' %></ul>
<ul><%= link_to "North Carolina", 'https://www.ncesc1.com/individual/webInitialClaims/applyBegin.asp' %></ul>
<ul><%= link_to "North Dakota", 'http://www.jobsnd.com/unemployment-for-individuals/file-claim' %></ul>
<ul><%= link_to "Ohio", 'https://unemployment.cmt.ohio.gov/cmtview/' %></ul>
<ul><%= link_to "Oklahoma", 'https://unemployment.state.ok.us/' %></ul>
<ul><%= link_to "Oregon", 'https://ssl8.emp.state.or.us/ocs4/index.cfm?u=F20111231A054509B50267271.2179&lang=E' %></ul>
<ul><%= link_to "Pennsylvania", 'http://www.uc.pa.gov/portal/server.pt/community/uc_pa_gov/11449' %></ul>
<ul><%= link_to "Rhode Island", 'http://www.dlt.ri.gov/ui/' %></ul>
<ul><%= link_to "South Carolina", 'https://mybenefits.dew.sc.gov/_sso/MyDew/DEWLogon.aspx?ru=====' %></ul>

<ul><%= link_to "South Dakota", 'https://apps.sd.gov/Applications/LD00General/default.aspx?URL_GUID=https://apps.sd.gov/Applications/LD70UIBP/Secure/UIBenefitsProfileLogin.asp?936648157' %></ul>

<ul><%= link_to "Tennessee", 'https://ui.tn.gov/Pages/ApplyForUnemployment.aspx' %></ul>
<ul><%= link_to "Texas", 'https://services.twc.state.tx.us/UBS/changeLocale.do?language=en&country=US&page=/security/logon.do' %></ul>
<ul><%= link_to "Utah", 'https://jobs.utah.gov/ui/InitialClaims/welcome.aspx' %></ul>
<ul><%= link_to "Vermont", 'https://uipublic.labor.vermont.gov/Claimantportal/portal/login.aspx' %></ul>
<ul><%= link_to "Virginia", 'http://www.vec.virginia.gov/vecportal/unins/insunemp.cfm' %></ul>
<ul><%= link_to "Washington", 'https://fortress.wa.gov/esd/uia/icintro/intropage.aspx?lang=en-us' %></ul>
<ul><%= link_to "West Virginia", 'https://www.wvuc.org/WVWeb/Welcome.aspx' %></ul>
<ul><%= link_to "Wisconsin", 'http://dwd.wisconsin.gov/uiben/' %></ul>
<ul><%= link_to "Wyoming", 'https://doe.state.wy.us/InetClaims/' %></ul>



