<% if @job.errors.any? %>
  <div id="error_explanation">
    <h2>Whoops! There were <%= pluralize(@job.errors.count, "error") %> creating your account:</h2>
    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for (@job) do |f| %>


<ul>Company<%= autocomplete_field_tag 'company', "", autocomplete_company_companyname_path %></ul>
<ul>Job Title<%= f.text_field :jobtitle %></ul>
<ul>Job Description<%= f.text_area :jobdescription %></ul>
<ul>Posting Link<%= f.text_field :postinglink %></ul>
<ul>Date of Posting<%= f.date_select :dateofposting %></ul>
<ul>Salary<%= f.text_field :salary %></ul>
<ul>Career Field<%= f.text_field :careerfield %></ul>
<ul>Date Applied to<%= f.date_select :dateappliedto %></ul>

<ul><%= f.submit %></ul>
<% end %>