<div id = "new_job_button">
  <%= button_to "Add New Job", new_job_url, {:controller => 'jobs_controller', :action => 'new', :method => :get } %>
</div>

<table width="600px">

  <tr>
    <th>Job Title</th>
    <th>Company</th>
    <th>Website</th>
    <th>Posted On</th>
    <th>Applied To</th>
    <th>Contacts</th>
  </tr>

  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.jobtitle, job_url(job) %></td> 
    <td><%= link_to job.company.companyname, company_url(job.company) %></td>    
    <td><%= link_to job.postinglink, "http://#{job.postinglink}" %></td>
    <td><%= job.dateofposting.strftime("%m/%d/%Y") %></td>
    <td><%= job.dateappliedto.strftime("%m/%d/%Y") %></td>
    <td>
      <% job.contacts.each do|contact| %>
        <%= link_to "#{contact.firstname} #{contact.lastname}", contact_url(job) %>    
      <% end %>
      <%= link_to "Link Contact", new_jobconnection_url(job_id: job.id)  %>
    </td>
    <% end %>
  </tr>
</table>

