<h1>Jobs show</h1>




<%= @job.jobtitle %> | 
<%= @job.jobdescription %> | 
<%= @job.postinglink %> | 
<%= @job.dateofposting %> |  
<%= @job.salary %> | 
<%= @job.careerfield %> | 
<%= @job.dateappliedto %> | 

<%= link_to "Edit this Job Here", edit_job_url %>