<h1>Jobs show</h1>



<p>Company: <%= link_to @job.company.companyname, company_url(@job.company) %></p>
<p>Job Title: <%= @job.jobtitle %></p>
<p>Job Description: <%= @job.jobdescription %></p>
<p>Posting Link: <%= link_to @job.postinglink, "http://#{@job.postinglink}" %></p>

<p>Date of Posting: <%= @job.dateofposting %></p>
<p>Salary: <%= @job.salary %></p>
<p>Career Field: <%= @job.careerfield %></p>
<p>Date Applied to: <%= @job.dateappliedto %></p>

<%= link_to "Edit this Job Here", edit_job_url %>