<div id="page_header"> Information for Job: <%= @job.jobtitle %></div>


<em><%= link_to "Link this Job to a Contact", new_jobconnection_url(job_id: @job.id) %></em>
<br />
<br />

<p>
<strong>Your contacts for the Job: <%= @job.jobtitle %></strong>
<% if @job.contacts.any? %>
  <ul>
    <% @job.contacts.each do |contact| %>
    <li id="contact_list">
      <%= link_to "#{contact.firstname} #{contact.lastname}", contact_url(contact) %>
    </li>
    <% end %>
  </ul>
<% end %>
</p>
<br />
<p>
  <strong>Company:</strong> 
  <%= link_to @job.company.companyname, company_url(@job.company) %>
</p>

<br />

<p>
  <strong>Job Title:</strong>
  <%= @job.jobtitle %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @job.jobdescription %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<br />

<p>
  <strong>Posting Link:</strong>
  <%= link_to @job.postinglink, "http://#{@job.postinglink}" %>
</p>

<p>
  <strong>Career Field:</strong>
  <%= @job.careerfield %>
</p>

<p>
  <strong>Date of Posting:</strong>
  <%= @job.dateofposting.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Date Applied to:</strong>
  <%= @job.dateappliedto.strftime("%m/%d/%Y") %>
</p>

<div id="item_links">
  <%= link_to "Edit Job", edit_job_url %> |
  <%= link_to "Delete Job", job_url, :method => :delete, confirm: "Are you sure you want to delete this job?" %>
</div>

