<div id="page_header">Complete Your Profile!</div>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Whoops! There were <%= pluralize(@user.errors.count, "error") %> creating your account:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for (@user) do |f| %>
  <p>What job do you want?</p>
  <p><%= f.text_field  %></p>
  <p>Email: <%= f.text_field :email %></p>
  <p><%= f.submit %></p>
<% end %>