</br>
<div id="page_header"><%= @user.firstname %></div>
</br>
<p>
  <strong>First Name</strong>: 
  <%= @user.firstname %>
</p>

<p>
  <strong>Last Name</strong>: 
  <%= @user.lastname %>
</p>
</br>
<p>
  <strong>Email</strong>: 
  <%= @user.email %>
</p>

<!-- <p>
  <% if @user.atoken && @user.asecret %>
    You have already Linked-in!
  <% else %>
    <%= link_to "Please link-in!", linkedin_url %>
  <% end %>
</p> -->
</br></br>
<strong>Careers you want:</strong>
<p>
  <% @user.careers.each do |career| %>
    <%= career.title %> in <%= career.category %><br />
  <% end %>
  <%= button_to "Add a Career", new_career_url, method: "get" %>
</p>
</br>
<strong>Location you prefer:</strong>
<p><%= current_user.location %></p>
</br>
<%= link_to "Edit Profile", edit_user_url(@user) %>
</br>
</br>

<div id="page_header"><%= button_to "START YOUR JOB SEARCH NOW!", contacts_url, method: "get" %></div>