<div id="page_header"><%= @user.firstname %></div>

<%= link_to "Edit Profile", edit_user_url(@user) %>
<p>
  <strong>First Name</strong>: 
  <%= @user.firstname %>
</p>

<p>
  <strong>Last Name</strong>: 
  <%= @user.lastname %>
</p>

<p>
  <strong>Email</strong>: 
  <%= @user.email %>
</p>
<p>
  <% if @user.atoken && @user.asecret %>
    You have already Linked-in!
  <% else %>
    <%= link_to "Please link-in!", linkedin_url %>
  <% end %>
</p>

<strong>Careers you want:</strong>
<p>
  <% @user.careers.each do |career| %>
    <%= career.title %> in <%= career.category %><br />
  <% end %>
  <%= link_to "Add a Career", new_career_url %>
</p>

<strong>Location you prefer:</strong>
<p><%= current_user.location %></p>

<p><%= link_to "START YOUR JOB SEARCH!", events_url %></p>