<title>High Five - Jobs</title>

<!DOCTYPE html>
<html>
  <head>
     <%= stylesheet_link_tag    "interested" %>

  </head>
  <div id = "container">

  <body class="landing_page">
    <% if flash[:notice] %>    
      <div id = "notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div id="logo">
      <%= image_tag "HighFiveLogo.png" %>
    </div>
    
    <div id = "info">
      <p class = "copy">Manage your job search</p>
      
      <p class = "join">Join our mailing list</p>

      <p>
        <%= form_for @interested do |f| %>
        <%= f.text_field :email, placeholder: "tom@highfivejobs.com" %>
      </p>
          <div id= "button"> 
            <%= f.submit "Submit" %>
            
          </div>
        
        <% end %>
    </div>
    
  </body></div>
</html>
