<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label "Job Title" %><br />
    <%= f.text_field :jobtitle %>
  </div>
  <div class="field">
    <%= f.label "Email Address" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Twitter handle" %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label "LinkedIn" %><br />
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label "Facebook" %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label "Home/Cell #" %><br />
    <%= f.number_field :mainphone %>
  </div>
  <div class="field">
    <%= f.label "Work #" %><br />
    <%= f.number_field :workphone %>
  </div>
  <div class="field">
    <%= f.label "Fax #" %><br />
    <%= f.number_field :faxnumber %>
  </div>
  <div class="field">
    <%= f.label "Meetups" %><br />
    <%= f.text_field :meetups %>
  </div>
  <div class="field">
    <%= f.label "Meetup links" %><br />
    <%= f.text_field :meetup_url %>
  </div>
  <div class="field">
    <%= f.label "Other Info" %><br />
    <%= f.text_area :otherinfo %>
  </div>
  <div class="field">
    <%= f.label :job_connection_id %><br />
    <%= f.number_field :job_connection_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
