<div id="page_header">CONTACTS</div>

<div id="add_new_link"><%= button_to 'Add New Contact', new_contact_url, method: "get", :remote => true %></div>
<!-- <%= link_to "Click Here Populate with your Linked-In Contacts", populate_url %> -->
<div id="contact_home_form">
  <%= render "/contacts/form" %>
</div>

<table width="600px">
  <tr>
    <th>Name</th>
    <th>Companies</th>
    <th>Current Title</th>
    <th>Phone</th>
    <th>Job Leads</th>
    <th>State</th>
    <th>Action</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= link_to "#{contact.lastname}, #{contact.firstname}", contact_url(contact) %></td>
      <td>
        <% contact.companies.each do |company| %>
          <p class="contact_companies"><%= link_to "#{company.companyname}(#{company.industry})", company_url(company) %></p>
        <% end %>
      </td>
      <td><%= contact.jobtitle %></td>
      <td><%= contact.mainphone %></td>
      <td>
        <% if contact.jobs.any? %>
          <% contact.jobs.each do |job| %>
            <p><%= link_to "#{job.jobtitle}", job_url(job) %> at <%= link_to "#{job.company.companyname}", company_url(job.company) %></p>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if contact.state == "d" %>
          <%= link_to "A", switch_url(contact, choice: "a") %>
          <%= link_to "B", switch_url(contact, choice: "b") %>
          <%= link_to "C", switch_url(contact, choice: "c") %>
        <% else %>
          <%= contact.state %>
        <% end %>
      </td>
      <td>
        <% if contact.state == "a" %>
          <%= link_to "Proceed", new_event_url(id: contact) %>
        <% elsif contact.state == "b" %>
          <%= link_to "Change", revert_url(contact) %>
        <% elsif contact.state == "c" %>
          <%= link_to "Change", revert_url(contact) %>
        <% end %>
      </td>
  </tr>
<% end %>
</table>

<br />


