<div id="page_header">CONTACTS</div>

<div id="add_new_link"><%= link_to 'Add New Contact', new_contact_url, :remote => true %></div>
<%= link_to "Sign in with Linked-In", linkedin_url %>
<div id="contact_home_form">
  <%= render "/contacts/form" %>
</div>

<table width="600px">
  <tr>
    
    <th>Name</th>
    <th>Companies</th>
    <th>Current Title</th>
    <th>Phone</th>
    <th>Job Leads</th>
  </tr>
  

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to "#{contact.firstname} #{contact.lastname}", contact_url(contact) %></td>
    
    <td>
        <% contact.companies.each do |company| %>
          <p class="contact_companies"><%= link_to company.companyname, company_url(company) %></p>
        <% end %>
    </td>
    <td><%= contact.jobtitle %></td>
    <td><%= contact.mainphone %></td>
    <td>
      <% if contact.jobs.any? %>
      <% contact.jobs.each do |job| %>
      <p><%= link_to "#{job.jobtitle}", job_url(job) %> at <%= link_to "#{job.company.companyname}", company_url(job.company) %></p>
      <% end %>
      <% end %>
      
    </td>


  </tr>
<% end %>
</table>

<br />


