<h1>Listing contacts</h1>

<table>
  <tr>
    
    <th>Name</th>
    <th>Company</th>
    <th>Title</th>
    <th>Meetups</th>
    <th>Meetup url</th>
    <th>Notes</th>
    <th>Job connection</th>
    <th>Mainphone</th>

  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.firstname, contact_url(contact) %> <%= link_to contact.lastname, contact_url(contact) %></td>
    <td><%= contact.company_id %></td>
    <td><%= contact.jobtitle %></td>
    <td><%= contact.meetups %></td>
    <td><%= contact.meetup_url %></td>
    <td><%= contact.otherinfo %></td>
    <td><%= contact.job_connection_id %></td>
    <td><%= contact.mainphone %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
