<h1>Listing contacts</h1>

<table>
  <tr>
    
    <th>Name</th>
    <th>Company</th>
    <th>Title</th>
    <th>Meetups</th>
    <th>Meetup Website</th>
    <th>Notes</th>
    <th>Mainphone</th>

  </tr>
  
  



<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to "#{contact.firstname} #{contact.lastname}", contact_url(contact) %></td>
    
    <td><% contact.companies.each do |company| %>
      <%= link_to company.companyname, company_url(company) %></td>
    <% end %>
    <td><%= contact.jobtitle %></td>
    <td><%= contact.meetups %></td>
    <td><%= link_to contact.meetup_url, "http://#{contact.meetup_url}" %></td>
    <td><%= contact.otherinfo %></td>
    <td><%= contact.mainphone %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
