<div id="page_header">Contact Information</div>

<em><%= link_to "Add Job Lead", new_jobconnection_url(contact_id: @contact.id) %></em>

  
  <p>
    <strong>Firstname:</strong>
    <%= @contact.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @contact.lastname %>
  </p>
  <br />
  <p>
    <strong>Company Name:</strong>
    <% @contact.companies.each do |company| %>
   <ul>
      <li><%= link_to company.companyname, company_url(company) %></td></li>
    </ul>  
    <% end %>
  </p>
  <br />
  <p>
    <strong>Jobtitle:</strong>
    <%= @contact.jobtitle %>
  </p>
  <br />
  
  <p>
    <strong>Job Leads <%= @contact.firstname %> has given me:</strong>
      <% @contact.jobs.each do |job| %>
        <li id="contact_list">
          <%= link_to job.jobtitle, job_url(job) %>
        </li>
    <% end %>
  </p>

  <br />
  
  <p>
    <strong>Email:</strong>
    <%= @contact.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= @contact.twitter %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= @contact.linkedin %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= @contact.facebook %>
  </p>
  <br />
  <p>
    <strong>Primary #:</strong>
    <%= @contact.mainphone %>
  </p>

  <p>
    <strong>Work #:</strong>
    <%= @contact.workphone %>
  </p>

  <p>
    <strong>Fax #:</strong>
    <%= @contact.faxnumber %>
  </p>
  <br />
  <p>
    <strong>Meetups:</strong>
    <%= @contact.meetups %>
  </p>

  <p>
    <strong>Meetup Website:</strong>
    <%= link_to @contact.meetup_url, "http://#{@contact.meetup_url}" %>
  </p>
  <br />
  <p>
    <strong>Other Info:</strong>
    <%= @contact.otherinfo %>
  </p>

<div id="item_links">
  <%= link_to 'Edit Contact', edit_contact_path(@contact) %> | 
  <%= link_to "Delete Contact", contact_url, :method => :delete, confirm: "Are you sure you want to delete this contact?" %>
</div>