<h1>Companies index</h1>
<p><%= link_to "Add a new Company", new_company_url %></p>

<table>

<tr>
  <th>Company</th>
  <th>Website</th>
  <th>Industry</th>
  <th>My Notes</th>
  <th># of Contacts</th>
</tr>

<% @company.each do |f| %>
<tr>
  <td><%= link_to f.companyname, company_url(f) %></td>
  <td><%= f.website %></td>
  <td><%= f.industry %></td>
  <td><%= f.companynotes %></td>
  <td><%= f.contacts.count %></td>
  <% end %>
</tr>
