<div id="page_header">Information for Company: <%= @company.companyname %></div>
<br />

<p>
  <strong>Website:</strong>
  <%= link_to @company.website, "http://#{@company.website}" unless @company.website.blank? %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>My Notes on <%= @company.companyname %>:</strong>
  <%= @company.companynotes %>
</p>

<br />

<p>
  <strong> My <%= @company.companyname %> Jobs:</strong>

  <% @my_companies_jobs.each do |job| %>
  <ul>
    <li> <%= link_to "#{job.jobtitle}", job_url(job) %></li>
 </ul>
 <% end %>
</p>


<br />

<!-- <p>
  <strong>My <%= @company.companyname %> Contacts:</strong>
  <% @company.contacts.each do |contact| %>
  <ul>  
    <li><%= link_to "#{contact.firstname} #{contact.lastname}", contact_url(contact) %></li>
  </ul>
  <% end %>
</p> -->

<br />

<p>
  <strong>My <%= @company.companyname %> Contacts:</strong>
  <% @my_companies_contacts.each do |contact| %>
  <ul>  
    <%= link_to "#{contact.firstname} #{contact.lastname}" %>
  </ul>
    <% end %>
</p>

<!-- user.contacts.select do |contact| contact.companies.include? company end -->
<br />



<div id="item_links"><%= link_to "Edit Company", edit_company_url %> <!-- | 
<%= link_to "Delete Company", company_url, method: :delete %></div> -->
