
<p>
  <%= form_for @jobconnection do |job| %>
  <% if @job.present? %>
    <div id="page_header">Choose a Contact to connect to the job: <p><%= @job.jobtitle %> at <%= @job.company.companyname %></div>
    <%= job.collection_select :contact_id, @contacts, :id, :combined_name, prompt: true %>
    <p><em>If a contact is not listed here: </em> <%= link_to "Add a new one!", new_contact_url %></p>

    <%= job.hidden_field :job_id %>
  <% elsif @contact.present? %>
    <div id="page_header">Choose a Job to connect with: <%= @contact.firstname %> <%=@contact.lastname %> </div>
    <%= job.collection_select :job_id, @jobs, :id, :job_display, prompt: true %>
    <p><em>If a job is not listed here: </em> <%= link_to "Add a new one!", new_job_url %></p>
    <%= job.hidden_field :contact_id %>    
  <% end %>

    <%= job.submit %>
  <% end %>
</p>


