<!DOCTYPE html>
<html>
<head>
  <title>Highfive10</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<h1>HIGH FIVE</h1>
<h2><%= link_to "CONTACTS", contacts_url  %> | <%= link_to "JOBS", jobs_url %> | <%= link_to "COMPANIES", companies_url %></h2>
<body>

<%= yield %>

</body>
</html>
