<!DOCTYPE html>
<html>
<head>
  <title>Highfive10</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<h1><%= link_to "HIGH FIVE", contacts_url  %></h1>
<body>

<%= yield %>

</body>
</html>
